<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" content="with=device-width,intial-scale=1.0">
    <title>Graphical Password to prevent SS attack</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;700&display=swap"rel="stylesheet">
    </head>
    <body style="background-image: url('static/image/logi.jpg')">
        <nav>
            <h2 style="color:rgb(207, 221, 225)">GP Secure</h2>
            
            <div class="nav-links">

                <ul>
                    <li><a href="{{url_for('money')}}">ML possible</a></li> 
                    <li><a href="{{url_for('admin_profile')}}">ALL Profile</a></li> 
                    <li><a href="{{ url_for('cdata') }}" >CDATA SEARCH</a></li>    
                    <li><a href="{{url_for('cdata_profile')}}">CHISTORY</a></li>
                    <li><a href="{{url_for('password_reset')}}">CPassword reset</a></li>
                    <li><a href="{{url_for('index')}}">LOGOUT</a></li>       
                    </ul>
            </div>
        </nav>
        <script src="https://code.jquery.com/jquery-1.12.4.min.js">
        </script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('input[type="radio1"]').click(function () {
                var inputValue = $(this).attr("value");
                var targetBox = $("." + inputValue);
                $(".selectt").not(targetBox).hide();
                $(targetBox).show();
            });
        });
    </script>
        <center><h1>Password Reset</h1></center>
        {%with messages=get_flashed_messages()%}
                {%if messages%}
                {%for message in messages%}
            <h3>{{message}}</h3>
            {%endfor%}
            {%endif%}
            {%endwith%}
        <div class="reg">
            <form id="reg" action="{{ url_for('password_reset') }}" method="POST">

                <label>email</label><br>
                <input type="email" name="pemail" id="pemail" placeholder="eg::xxxyy@gmail.com"><br><br>
                <label>Account No</label><br>
                <input type="text" name="pnum" id="pnum" placeholder="eg::9047463"><br><br>
                
            <div class="form-group">
                <label class="lab">P A S S W O R D</label>
                <h5 style="color: red;font-size: 15px;">NOTE: Password must be minimum 4 selections</h5>
                {% include 'graphical_password_1.html' %}
            </div>
            <br>
            <br>
            <button class="button is-block is-info is-large is-fullwidth">RESET</button>
           
            <br>
        </form>
        </div>

    </body>
</html>
